/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
    font-family:HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #3D1101;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
*,*::before,*::after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
/* cssRESET結束 */

/* 字型 */
.fs-3{
    font-size: 12px;
}
.fs-4{
    font-size: 16px;
}
.fs-5{
    font-size: 20px;
}
.fs-6{
    font-size: 24px;
}
.fs-title{
    font-size: 49px;
}
.noto-sans{
    font-family: 'Noto Sans TC', sans-serif;
}
/* 顏色 */
.text-primary{
    color: #3D1101;
}
.text-secondary{
    color: #EFE9E7;
}
.text-danger{
    color: #FF5E45;
}
.text-light{
    color: #ffff;
}
.text-dark{
    color: #000;
}
/* 容器 */
.container{
    max-width: 940px;
    margin: 0 auto;
}

/* FLEX */
.d-flex{
    display: flex;
}
.jc-sb{
    justify-content: space-between;
}
.ai-center{
    align-items: center;
}
/* 首頁 */
.header{
    background: rgba(0,0,0,0.75);
    position: fixed;
    z-index: 999;
    width: 100%;
}
.header h1 a{
    display: block;
    width: 120px;
    height: 24px;
    background: url('./assets/logo_w.png') no-repeat;
    text-indent:101%;
    white-space: nowrap;
    overflow: hidden;
}
.navbar a{
    display: block;
    font-size: 16px;
    padding: 18px 15px;
    color: #ffff;
    transition: all 0.3s;
}
.navbar a:hover{
    background: #EFE9E7;
    color: #3D1101;
}
.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
    height: auto;
}
.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 640px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 26px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(0,0,0,0.35);
}
.banner h3{
    font-size: 36px;
    color: #ffff;
    margin-bottom: 16px;
}
.banner p{
    font-size: 16px;
    color: #ffff;
}
.secret{
    padding: 50px 0px;
    background: #EFE9E7;
    text-align: center;
}
.secret-title{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 32px;
    position: relative;
    background: #EFE9E7;
    z-index: 99;
}
.secret-title::before{
    content: '';
    background: #000;
    height: 1px;
    width: 35%;
    position: absolute;
    top: 50%;
    left: 0;
}
.secret-title::after{
    content: '';
    background: #000;
    height: 1px;
    width: 35%;
    position: absolute;
    top: 50%;
    right: 0;
}
.secret-list{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.secret-card{
    width: 27.3333%;
    margin: 0 1%;
}
.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.secret-card:hover .card-inner{
    transform: rotateY(180deg);
}
.card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-front h3{
    font-size: 18px;
}
.card-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
.front-img{
    border-radius: 99em;
    filter: grayscale(80%);
    margin-bottom: 20px;
}
.back-img{
    border-radius: 99em;
    margin-bottom: 20px;
}
.card-back h3{
    font-size: 18px;
    margin-bottom: 10px;
}
.card-back p{
    font-size: 16px;
}
.chef{
    background: #3D1101;
}
.chef-content{
    display: flex;
    align-items: center;
}
.chef-content img{
    margin-right: 25px;
}
.chef-text h2{
    color: #EFE9E7;
    font-size: 20px;
    margin-bottom: 16px;
}
.chef-text h2 span{
    font-size: 16px;
}
.chef-text p{
    color: #EFE9E7;
    padding-right: 16px;
    font-size: 16px;
}
.feedback{
    background: #EFE9E7;
    padding: 50px 0;
}
.feedback h2{
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}
.feedback-list{
    display: flex;
    justify-content: space-between;
}
.feedback-item{
    width: 33.333%;
    align-items: start;
    display: flex;
}
.feedback-item img{
    border-radius: 99rem;
    margin-right: 12px;
}
.feedback-usersname{
    padding: 20px 0;
    font-size: 18px;
}
.feedback-comment{
    font-size: 16px;
    margin-bottom: 16px;
}
.feedback-jobtitle{
    font-size: 16px;
    color: rgba(61,17,1,0.75);
    text-align: right;
}
.position{
    padding: 50px 0;
    background: rgba(250,250,250,0.7);
}
.position h2{
    font-size: 24px;
    color: #3D1101;
    text-align: center;
    margin-bottom: 38px;
}
.position-content{
    display: flex;
    justify-content: space-between;
}
.position img{
    margin-right: 20px;
}
.position-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
}
.position-item{
    margin-bottom: 12px;
}
.position input{
    margin-top: 6px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    border-radius: 3px;
    padding:5px 15px;
    width: 100%;
}
.position input[type="radio"]{
    width: auto;
    vertical-align: bottom;
}
.position input[type="radio"]{
    margin-right: 36px;
}
.position .buttons{
    margin-left: auto;
}
.position button{
    padding: 6px 12px;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.position button:nth-child(1){
    background: rgba(0,0,0,0.35);
    margin-right: 10px;
}
.position button:nth-child(1):hover{
    filter: drop-shadow(5px 2px 5px gray);
}
.position button:nth-child(2){
    background: #F56C23;
}
.position button:nth-child(2):hover{
    filter: drop-shadow(5px 2px 5px gray);
}
.footer{
    background: #EFE9E7;
}
.footer-item{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.footer-context{
    display: flex;
}
.footer-about{
    max-width: 299px;
    margin-right: 20px;
}
.footer-context h4{
    font-size: 24px;
    margin-bottom: 16px;
}
.footer-context p{
    font-size: 16px;
}
.footer-context li{
    font-size: 16px;
}
.footer-link-logo{
    background: url("./assets/logo_l.png") no-repeat;
    width: 245px;
    height: 50px;
    display: block;
    text-indent:101%;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 20px;
}
.footer-linklist{
    display: flex;
    justify-content: end;
}
.footer-linklist a{
    width: 35px;
    height: 35px;
    display: block;
    text-indent:101%;
    white-space: nowrap;
    overflow: hidden;
    background-size: contain;
    margin-left: 12px;
}
.google{
    background: url("./assets/google-plus.png") no-repeat;
}
.twitter{
    background: url("./assets/twitter.png") no-repeat;
}
.facebook{
    background: url("./assets/facebook.png") no-repeat;
}